#map {
    height: 950px;
    width: 1100px;
    position: relative;
    margin: auto;
}

body {
    background-color: dimgrey;
}

h1 {
    color: azure;
    padding-left: 45%;
    font-style: italic;
}
